.aside-comp{
	margin: 20px 0 0 11px;
	padding: 5px 0 20px;
	width: 300px;
	min-height: 100px;
	font-size: 14px;
	color: #505050;
	background: #fff;
	&:after{
		content: '';
		display: block;
		clear: both;
	}
	.top-item, .btm-item{
		&.hover{
			color: #e67e22;
		}
		&:hover{
			color: #0000CC;
		}
		// color: #4F94CD;
		color: #198812;
	}
	.top-item{
		padding-top: 15px;
		float: left;
		// width: 25%;
		// color: #888;
		.logo{
			margin-bottom: 10px;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			line-height: 30px;
			text-align: center;
			color: #fff;
			background: #e67e22;
		}
	}
	.btm-item{
		padding: 0 30px;
		color: #198812;
		white-space: pre-wrap;
		 &.hover, &:hover{
			background: url('./arrow.png') 10px 15px no-repeat;
			background-size: 16px;
		}
		.item-name{
			padding: 8px 20px 3px 3px;
			border-bottom: 1px solid #e67e22;
			// color: #198912;
		}
		.item-index{
			padding: 9px 0 3px 3px;
			width: 20px;
			font-size: 12px;
			color: #266626;
			border-bottom: 1px solid #e67e22;
			opacity: .8;
		}
		.btm-bd{
			border-bottom: 1px solid #e6e6e6;
			// 右边显示坐标
			.index{
				margin: 5px 5px 0;
				float: right;
				width: 20px;
				height: 20px;
				line-height: 20px;
				font-size: 12px;
				color: #fff;
				text-align: center;
				border-radius: 50%;
				background: #266626;
				opacity: .7;
			}
		}
	}
}